# Firebase Web App Configuration (ProductKosh)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyCIPTkkuXRL0-gj1b9YoacnQR8XD2uiEV0"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="productkosh-271d1.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="productkosh-271d1"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="productkosh-271d1.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="829432124084"
NEXT_PUBLIC_FIREBASE_APP_ID="1:829432124084:web:30192c5a1f6befadf7fde1"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-9CNMGB8LC0"
